*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

#resume_container{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #384b5e;
    background-color: #f3f3f3;
}

.navbar{
width: 280px;
height: 500vh;
background-color: #979797;
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-start;
}

.resume_sections {
width: calc(100% - 280px);
height: 500vh;
overflow: scroll;
}



#profile{
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #363636;
    margin-bottom: 16px;
}



.resume_section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    padding: 50px;
   }



h1.section-title {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 32px;
    color: #d8671b;
}

h2.section-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 32px;
}
.section-sub-desc {
    color: #6f89a2;
    line-height: 28px;
}

.section-desc {
    padding: 30px 10px 0px 0px;
    font-size: 16px;
    line-height: 28px;
}

.section-desc2 {
    color: #6f89a2;
    padding: 20px 10px 0px 0px;
    font-size: 13px;
    line-height: 28px;
}

p.detail-desc{
    font-size: 50px;
    font-weight: bold;
    color: #cf5b0e;
}
